$color: (
  "tomato": #f7632f,
  "darkslategray": #393939,
  "orangered": #ef3d1e,
  "dimgray": #58595b,
  "gray": #777777,
  "sandybrown": #ffb04a,
  "white": #ffffff,
  "black": #000000,
  "silver": #e6e7e8,
  "whitesmoke": #ededee,
  "green": #00b200
);

$h2: 20px;
$h3: 18px;
$h4: 16px;
$bold: 14px;

$i: 24px; // i: normal
$im: 16px; // i: minimal
$p: 12px; // p: normal
$pm: 10px; // p: minimal
